html, body {
  height: 100%;
}

*:focus {
  outline: none;
}

body, h1, h4, p {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-family: 'Raleway', sans-serif;
  color: #FFF;
}

button, h1, h4 {
  text-transform: uppercase;
}

h1 {
  font-size: 3em;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 10px;
}

h4 {
  margin-top: 10px;
}

p {
  font-size: 1.2em;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  padding: 20px;
}

.btns-container {
  margin-top: 20px;
}

button {
  display: inline-block;
  color: #FFF;
  border: 2px solid #FFF;
  min-height: 40px;
  padding: 0 40px;
  cursor: pointer;
}

button:first-child {
  margin-right: 15px;
}

.btn-resume {
  background: transparent url(images/i-tag.svg) no-repeat 10% 50%;
}

.btn-contact {
  background: transparent url(images/resume.svg) no-repeat 10% 50%;
}

.btn-resume,
.btn-contact {
  background-size: 15px;
}

#content-section {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  flex-basis: 50%;
}

.image {
  display: none;
  background: url(images/bradley_cooper_thumb.jpg);
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px 8px 0 0;
}

#resume-contact.tile {
  flex-basis: 66.6666%;
}

#resume-contact header:after {
  clear: both;
  content: "";
  display: table;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  flex: 1 1 33.3333%;
}

.tile img {
  max-width: 100px;
  height: auto;
}

.green {
  background: #35bc7a;
}
.yellow {
  background: #ff9e00;
}
.blue {
  background: #1e8bc4;
}
.red {
  background: #f15a49;
}
.orange {
  background: #f86925;
}

#photo-section {
  display: flex;
  align-items: center;
  background: url(images/bradley_cooper_fullsize.jpg) no-repeat;
  background-size: cover;
  flex-basis: 50%;
}

.dots {
  position: absolute;
  top: 0;
  right: 20px;
  width: 50px;
  height: 50px;
}

.arrows {
  width: 40px;
  height: 40px;
  margin: 0 0 0 20px;
}

.arrow-left {
  margin: 0 20px 0 auto;
}


@media screen and (max-width: 1080px) {
  h1 {
    font-size: 2em;
  }
  #photo-section {
    flex-basis: 100%;
  }
  #resume-contact.tile {
    flex-basis: 100%;
  }
  .tile {
    flex: 1 1 50%;
  }
  .tile img {
    max-width: 50px;
  }
}

@media screen and (max-width: 980px) {
  button {
    display: inline-block;
    width: 100%;
  }
  button:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 800px) {
  #photo-section {
    display: none;
  }
  #content-section {
    flex-basis: 100%;
  }
  .tile {
    flex: 1 1 33.3333%;
  }
  #resume-contact.tile {
    align-items: baseline;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  header {
    align-self: center;
  }
  .image {
    display: inline-block;
    flex-shrink: 0;
  }
  button {
    display: inline-block;
    width: 45%;
  }
}

@media screen and (max-width: 440px) {
  button {
    display: block;
    width: 100%;
  }
}
