/** {
  border: 1px solid red;
}*/

body {
  display: flex;
  margin: 0;
  padding: 0;
}

#content-section {
  display: flex;
  height: 100vh;
  width: 60%;
  flex-wrap: wrap;
}

#photo-section {
  background-image: url("images/bradley_cooper_fullsize.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 40%;
  height: 100vh;
}

#content-section #resume-contact {
  width: 66.66%;
}

#resume-contact header:after {
  clear: both;
  content: "";
  display: table;
}
#resume-contact header h1 {
  float: left;
  width: 230px;
  margin: 25px 0 0 10px;
}
#resume-contact .image {
  display: none;
  background-image: url("images/bradley_cooper_thumb.jpg");
  float: right;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px 10px 0 0;
}

#content-section div {
  width: 33.333%;
  height: 33.333%;
}

.green {
  background: #35bc7a;
}
.yellow {
  background: #ff9e00;
}
.blue {
  background: #1e8bc4;
}
.red {
  background: #f15a49;
}
.orange {
  background: #f86925;
}


@media screen and (max-width: 380px) {
  #resume-contact header h1 {
    width: 170px;
    font-size: 1.1em;
  }
}
@media screen and (max-width: 550px) {
  #content-section #resume-contact {
    width: 100%;
  }
  #content-section #profile {
    width: 100%;
  }
  #content-section div {
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  #photo-section {
    display: none;
  }
  #content-section {
    width: 100%;
  }
  #resume-contact .image {
    display: block;
  }
}
