/** {
  border: 1px solid red;
}*/

body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: #FFF;
}

#content-section {
  display: flex;
  height: 100vh;
  width: 60%;
  flex-wrap: wrap;
}

#photo-section {
  background-image: url("images/bradley_cooper_fullsize.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 40%;
  height: 100vh;
}

#content-section #resume-contact {
  display: block;
  width: 66.66%;
}

#resume-contact header:after {
  clear: both;
  content: "";
  display: table;
}

#content-section div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.333%;
  height: 33.333%;
}

.inner-content {
  flex-wrap: wrap;
}

#content-section img {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

h4 {
  text-align: center;
  margin: 10px 0 0 0;
  text-transform: uppercase;
}

#resume-contact header h1 {
  float: left;
  width: auto;
  margin: 30px 0 20px 10px;
  font-size: 3em;
  letter-spacing: 1px;
}

#resume-contact .image {
  display: none;
  background-image: url("images/bradley_cooper_thumb.jpg");
  float: right;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 10px 10px 0 0;
}

article {
  margin-left: 10px;
  clear: left;
}

p {
  font-weight: 300;
  font-size: 1.2em;
}

button {
  color: #FFF;
  border: 2px solid #FFF;
  background: inherit;
  width: 80px;
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
}


.green {
  background: #35bc7a;
}
.yellow {
  background: #ff9e00;
}
.blue {
  background: #1e8bc4;
}
.red {
  background: #f15a49;
}
.orange {
  background: #f86925;
}


@media screen and (max-width: 400px) {
  #resume-contact header h1 {
    width: 180px;
    font-size: 1.1em;
  }
  #resume-contact .image {
    width: 60px;
    height: 60px;
  }
  p {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 555px) {
  #content-section #resume-contact {
    width: 100%;
  }
  #content-section #profile {
    width: 100%;
  }
  #profile .inner-content {
    width: 20%;
  }
  #content-section div {
    width: 50%;
  }
}
@media screen and (max-width: 800px) {
  #photo-section {
    display: none;
  }
  #content-section {
    width: 100%;
  }
  #resume-contact .image {
    display: block;
  }
}
@media screen and (max-width: 1280px) {
  #content-section img {
    width: 60px;
    height: 60px;
  }
  #resume-contact header h1 {
    width: 230px;
    font-size: 1.5em;
  }
  p {
    font-size: 0.8em;
  }
}
